:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #6bbfe1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  scrollbar-width: thin;
  background: var(--blue);
  text-rendering: geometricprecision;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
}

.flint {
  bottom: -1px;
  z-index: 100;
  height: 400px;
  position: absolute;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .flint {
    height: unset;
  }
}
