:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #6bbfe1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  scrollbar-width: thin;
  background: var(--blue);
  text-rendering: geometricprecision;
}
